@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "roboto";
    src: url("../fontes/Roboto-Regular.ttf") format("opentype");
    font-weight: normal;
}

:root {

    --cor1: #96C6D9;
    --cor2: #5386A6;
    --cor3: #2C5773;
    --cor4: #152C40;
    --cor5: #0D0D0D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Roboto', sans-serif;
    --fonte-roboto: 'Roboto', cursive;

}

a.externo::after {
    content: "\00A0\1F517";
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    text-align: center;
    height: 170px;
}

header > h1 {
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

header > p {
    color: white;
    padding: 10px 0px 5px 0px;
}

nav {
    color: white;
    text-align: left;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h2 {
    color: var(--cor1);
    font-family: var(--fonte-roboto);
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px;
}

main > p {
    text-align: justify;
    font-family: var(--fonte-roboto);
    font-size: 1.2em;
    padding: 10px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
    background-color: var(--cor4);
}

li {
    list-style-position: inside;
    list-style-type: circle bold;
    padding: 10px;
    font-family: var(--fonte-roboto);
    font-size: 1em;
    text-align: justify;
    color: var(--cor5);
    font-weight: bold;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: auto;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: none;
}

footer > p:hover {
    text-decoration: none;
    color: white;
}